@media (max-width: 426px){
.product-card {
    margin: 20px 5px;
}
.heading{
    font-size: 14px;
    line-height: 75px;
}  

.tcnt{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
  }
.token-card{
    width:90%;
    margin-left: 5%;
  }
}